
@import url('./../../node_modules/svelte-material-ui/bare.css');
@import url('./fontawesome.css');

:root {
  --mdc-theme-primary: rgba(169, 55, 122, 1);
  --mdc-theme-secondary: rgba(142, 186, 255);
  --mdc-theme-background: rgba(32, 32, 32);
  --mdc-theme-surface: rgba(55, 55, 55, 1);
  --mdc-theme-error: #b71c1c;
  --mdc-theme-on-primary: var(--on-primary);
  --mdc-theme-on-secondary: var(--on-secondary);
  --mdc-theme-on-surface: rgba(240, 240, 240, 1);
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(255, 255, 255);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: #fff;
  --mdc-theme-text-secondary-on-dark: hsla(0, 0%, 100%, 0.7);
  --mdc-theme-text-hint-on-dark: hsla(0, 0%, 100%, 0.5);
  --mdc-theme-text-disabled-on-dark: hsla(0, 0%, 100%, 0.5);
  --mdc-theme-text-icon-on-dark: hsla(0, 0%, 100%, 0.5);
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./../assets/MaterialIcons-Regular.woff2) format('woff2')
}

@font-face {
  font-family: 'Fontawesome';
  font-style: normal;
  font-weight: 400;
  src: url(./../assets/fa-solid-900.woff2) format('woff2')
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab{ 
  font-family: 'Fontawesome';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 8px 12px;
  min-height: 300px;
}

html,
body {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-text-primary-on-background)
}

* {
  box-sizing: border-box;
}

.mdc-menu * {
  color: var(--mdc-theme-on-surface) !important;
}

